<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wz.dao.EmsDAO">
    <select id="selectAll" resultType="Ems">
        select id,name,tel,address,birthday from ems
    </select>

    <select id="selectOne" resultType="Ems">
        select id,name,tel,address,birthday from ems where id=#{id}
    </select>

    <insert id="insert">
        insert into ems values(#{id},#{name},#{tel},#{address},#{birthday})
    </insert>

    <update id="update">
        update ems
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="tel!=null">tel=#{tel},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="birthday!=null">birthday=#{birthday}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from ems where id=#{id}
    </delete>
</mapper>